<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/course.css">
    <title>C++ Course-details</title>
</head>
<body>
    <div class="container">
        <h1>Introduction To C++</h1>
        <section>
        <p>
            <b>tEducation </b>offers a wide range of approachable C++ courses that cover everything from basic C++ programming to using C++ to develop modern video games in Unreal Engine and Unity. Udemy hosts top-rated C++ instructors who are experts at distilling difficult concepts into manageable lessons.
         </p>
         <h2>What is C++</h2>
        <p>&bull;&nbsp;C++ is a cross-platform language that can be used to create high-performance applications.<br>
            &bull;&nbsp;C++ was developed by Bjarne Stroustrup, as an extension to the C<br>
            &bull;&nbsp;C++ gives programmers a high level of control over system resources and memory.<br>
            &bull;&nbsp;The language was updated 3 major times in 2011, 2014, and 2017 to C++11, C++14, and C++17.</p>
        <br>
        <h2>Why Use C++</h2>
        <p>&bull;&nbsp;C++ is one of the world's most popular programming languages.<br>
            &bull;&nbsp;C++ can be found in today's operating systems, Graphical User Interfaces, and embedded systems.<br>
            &bull;&nbsp;C++ is an object-oriented programming language which gives a clear structure to programs and allows code to be reused,lowering development costs.<br>
             &bull;&nbsp;C++ is portable and can be used to develop applications that can be adapted to multiple platforms.<br>
            &bull;&nbsp;C++ is fun and easy to learn!<br>
            &bull;&nbsp;As C++ is close to C# and Java, it makes it easy for programmers to switch to C++ or vice versa</p>
            <button><a href="https://www.udemy.com/course/introduction-to-programming-c-cpp/?utm_source=adwords&utm_medium=udemyads&utm_campaign=LongTail_la.EN_cc.INDIA&utm_content=deal4584&utm_term=_._ag_77882236223_._ad_533093955804_._kw__._de_c_._dm__._pl__._ti_dsa-1007766171032_._li_9061783_._pd__._&matchtype=b&gclid=CjwKCAjwgb6IBhAREiwAgMYKRiMbtstvWmhtoKaehYBoS4cII88VZiR6SmqVCmQ16wS6pzZ0K93HWRoCYKkQAvD_BwE" target="_blank">Enroll Now</a></button>
        </section>
    </div>
</body>
</html>