<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a809070755.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/course.css">
    <title>Web development Course</title>
</head>
<body>
    <div class="container">
        <h1>Introduction to Web Development</h1>
        <section>
            <p>Web development is the building and maintenance of websites; it's the work that happens behind the scenes to make a website look great, work fast and perform well with a seamless user experience. Web developers, or 'devs', do this by using a variety of coding languages.</p>
            <h2>Comparing Front-End and Back-End Development</h3>
            <p>A front-end dev takes care of layout, design and interactivity using HTML, CSS and JavaScript. They take an idea from the drawing board and turn it into reality.These programmes are run through a browser.<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            The backend developer engineers what is going on behind the scenes. This is where the data is stored, and without this data, there would be no frontend. The backend of the web consists of the server that hosts the website, an application for running it and a database to contain the data.</p>
            <h2>Most used features</h2>
             <p>&bull;&nbsp;HTML and the DOM<br>
                &bull;&nbsp;Web page assets, resources and network information<br>
                &bull;&nbsp;Profiling and auditing<br>
                &bull;&nbsp;JavaScript debugging
            </p>
          
            <h2>Getting Started in Web Development</h2>
            <p>
            <b> The first step is to decide which aspect of web development interests you and then start out with one programming language.</b><br>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For example, if you are interested in front end you can start by learning some HTML and CSS, then start working on projects as soon as you are comfortable with the basics. Our Web Developer Program is a perfect fit for this route. But others may suite you as well.
            </p>

            <button><a href="https://www.coursera.org/programs/malaviya-national-institute-of-technology-jaipur-ro-i3gfv/browse?currentTab=CATALOG&query=basics+of+web+development" target="_blank">Enroll Now</a></button>
        </section>
    </div>
</body>
</html>