<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/course.css">
    <title>Pythonn course</title>
</head>
<body>
    <div class="container">
        <h1>Introduction To python</h1>
        <p>Python is a programming language. It can be used on a server to create web applications.</p>
        <h2>What is Python?</h2>
        <p>Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.<br><br>
            It is used for:<br>
            &bull;&nbsp; web development (server-side),<br>
            &bull;&nbsp; software development,<br>
            &bull;&nbsp; mathematics,<br>
            &bull;&nbsp; system scripting.</p>
        <h2>What can Python do?</h2>
        <p> &bull;&nbsp; Python can be used on a server to create web applications.<br>
            &bull;&nbsp; Python can be used alongside software to create workflows.<br>
            &bull;&nbsp; Python can connect to database systems. It can also read and modify files.<br>
            &bull;&nbsp; Python can be used to handle big data and perform complex mathematics.<br>
            &bull;&nbsp; Python can be used for rapid prototyping, or for production-ready software development.</p>
        <h2>Why Python?</h2>
        <p> &bull;&nbsp;Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).<br>
            &bull;&nbsp;Python has a simple syntax similar to the English language.<br>
            &bull;&nbsp;Python has syntax that allows developers to write programs with fewer lines than some other programming languages.<br>
            &bull;&nbsp; Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.<br>
            &bull;&nbsp;Python can be treated in a procedural way, an object-oriented way or a functional way.</p>

        <button><a href="/register-course">Enroll Now</a></button>
    </div>
</body>
</html>