<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/course.css">
    <title>Learn about Linux</title>
</head>
<body>
    <div class="container">
        <h1>Introduction to linux</h1>
        <p>Linux® is an open source operating system (OS). An operating system is the software that directly manages a system’s hardware and resources, like CPU, memory, and storage. The OS sits between applications and hardware and makes the connections between all of your software and the physical resources that do the work. </p>
        <h2>How does Linux work?</h2>
        <p>Linux was designed to be similar to UNIX, but has evolved to run on a wide variety of hardware from phones to supercomputers. Every Linux-based OS involves the Linux kernel—which manages hardware resources—and a set of software packages that make up the rest of the operating system.<br><br>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
            The OS includes some common core components, like the GNU tools, among others. These tools give the user a way to manage the resources provided by the kernel, install additional software, configure performance and security settings, and more. All of these tools bundled together make up the functional operating system. Because Linux is an open source OS, combinations of software can vary between Linux distributions.  
        </p>
        <h2>What does Linux include?</h2>
        <h3>&bull;&nbsp; Kernel</h3>
        <p>The base component of the OS. Without it, the OS doesn’t work. The kernel manages the system’s resources and communicates with the hardware. It’s responsible for memory, process, and file management.</p>
        <h3>&bull;&nbsp; System user space</h3>
        <p>The administrative layer for system level tasks like configuration and software install. This includes the shell, or command line, daemons, processes that run in the background, and the desktop environment, the interface the users interacts with.</p>
        <h2>Some best Linux Apps in 2021</h2>
        <p> The best Linux apps rival paid-for programs on other operating systems, especially when it comes to internet, media, or computing use.<br><br>
            One of the big advantages of most Linux distros isn't just that they are free and open source - so are most of the software applications used for Linux. While some business-orientated software does come with a cost, for most home users most of what they will need won't be.<br>

            Some Best Linux apps are:
            <ol>
                <li>Firefox</li>
                <li>Thunderbird</li>
                <li>LibreOffice</li>
                <li>VLC Media Player</li>
                <li>Shotcut</li>
                <li>GIMP</li>
                <li>Audacity</li>
                <li>Visual Studio Code</li>
                <li>VirtualBox</li>
                <li>ClamAV</li>
              </ol>
        </p>

        <button><a href="https://www.coursera.org/programs/malaviya-national-institute-of-technology-jaipur-ro-i3gfv/browse?currentTab=CATALOG&query=introduction+to+linux" target="_blank">Enroll Now</a></button>
    </div>
</body>
</html>
