<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/course.css">
    <title>machine Learning course</title>
</head>
<body>
    <div class="container">
        <h1>Machine Learning</h1>
        <section>
        <p>
            Machine learning is a method of data analysis that automates analytical model building. It is a branch of artificial intelligence based on the idea that systems can learn from data, identify patterns and make decisions with minimal human intervention.
         </p>
         <h2>Why is machine learning important?</h2>
        <p>Resurging interest in machine learning is due to the same factors that have made data mining and Bayesian analysis more popular than ever. Things like growing volumes and varieties of available data, computational processing that is cheaper and more powerful, and affordable data storage.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; All of these things mean it's possible to quickly and automatically produce models that can analyze bigger, more complex data and deliver faster, more accurate results – even on a very large scale. And by building precise models, an organization has a better chance of identifying profitable opportunities – or avoiding unknown risks.</p>
        <br>
        <h2>What's required to create good machine learning systems?</h2>
        <p>&bull;&nbsp; Data preparation capabilities.<br>
            &bull;&nbsp; Algorithms – basic and advanced.<br>
            &bull;&nbsp; Automation and iterative processes.<br>
            &bull;&nbsp; Scalability.<br>
            &bull;&nbsp; Ensemble modeling.</p>
        <h2>Who's using it?</h2>
        <p>Most industries working with large amounts of data have recognized the value of machine learning technology. By gleaning insights from this data – often in real time – organizations are able to work more efficiently or gain an advantage over competitors.</p>
        <ul>
            <li>Financial services</li>
            <li>Health care</li>
            <li> Oil and gas </li>
            <li>Government</li>
            <li>Retail</li>
            <li>Transportation</li>
        </ul>
        <button><a href="/register-course">Enroll Now</a></button>
        </section>
    </div>
</body>
</html>