<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>forget_password</title>
</head>
<body>
    <div class="container">
        <h1>change password Here</h1>
        <p class="invalid"><%= text %></p>
        <form action="/forget_password" method="post" class="form-format">
            <input class="form-type" type="email" name="email" placeholder="email" required>
            <input class="form-type" type="password" name="new_password" placeholder="New Password" required>
            <input class="form-type" type="password" name="confirm_password" placeholder="Confirm Password" required>
            <button type="submit">update</button>
        </form>
</body>
</html>