<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tEducation : Best Online Education</title>
    <script src="https://kit.fontawesome.com/a809070755.js" crossorigin="anonymous"></script>
    <link href="/css/Home.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script defer src="/js/resp.js"></script>
    <!-- <script defer src="/js/resp.js"></script>
    <script defer src="/js/index.js"></script> -->
    <!-- <link rel="stylesheet" href="fonts/font-awesome.css"> -->
    <!-- <link rel="stylesheet" href="fonts/google-fonts.css"> -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

</head>

<body>
    <nav class="navbar h-nav-resp">
        <div class="logoitem v-class-resp">
            <img class="logo" src="/img/logo.jpg" alt="Logo">
            <p id="logo" class="logotext">tEducation</p>
        </div>
        <div class="list v-class-resp">
            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#Service">Service</a></li>
                <li><a href="#Review">Review</a></li>
            </ul>
        </div>
        <div class="loginlist v-class-resp">
            <a href="/login">Log in</a>
        </div>
        <div class="burger">
            <i id="menu" class="fa fa-bars"></i>
        </div>
    </nav>
    <section class="sectionfirst" data-aos="zoom-in" id="Home">
        <div class="text">
            <h2 class="text-med hometext">Online</h2>
            <h1 class="text-bg hometext">Education</h1>
            <h6 class="text-sm">Learn Online From Home</h6>
            <button class="btn"><a href="/register">Signup Now</a></button>
            <p class="fonts-awesome">
                <a class="font" href="http://www.facebook.com"  target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="font" href="http://www.twitter.com"  target="_blank"><i class="fa fa-twitter"></i></a>
                <a class="font" href="http://www.instagram.com"  target="_blank"><i class="fa fa-instagram"></i></a>
                <a class="font" href="http://www.linkedin.com"  target="_blank"><i class="fa fa-linkedin"></i></a>
            </p>
        </div>
    </section>

    <section class="section-course" id="About">
        <h1 class="heading headabout">Our Latest Courses</h1>
        <div class="container">
            <div class="boxabout" data-aos="flip-up">
                <img class="icon" src="/img/web-development.png" alt="Web Development course">
                <h3>Basics of Web Development</h3>
                <p class="text-box">This is the best coding course to crack mosst Company interview in just 2 month. Modi aspernatur optio ipsum excepturi!</p>
            </div>
            <div class="boxabout" data-aos="flip-up">
                <img class="icon" src="/img/python.png" alt="Python Logo">
                <h3>Python for Everybody</h3>
                <p class="text-box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odio itaque dolore
                    eaque? Modi aspernatur optio ipsum excepturi!</p>
            </div>
            <div class="boxabout" data-aos="flip-up">
                <img class="icon" src="/img/c.png" alt="C++ Logo">
                <h3>Introduction to C++</h3>
                <p class="text-box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odio itaque dolore
                    eaque? Modi aspernatur optio ipsum excepturi!</p>
            </div>
            <div class="boxabout" data-aos="flip-up">
                <img class="icon" src="/img/brain.png" alt="Machine learning">
                <h3>Machine Learning</h3>
                <p class="text-box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odio itaque dolore
                    eaque? Modi aspernatur optio ipsum excepturi!</p>
            </div>
            <div class="boxabout" data-aos="flip-up">
                <img class="icon" src="/img/internet-of-things.png" alt="IOT logo">
                <h3>Developing Internet of Things</h3>
                <p class="text-box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odio itaque dolore
                    eaque? Modi aspernatur optio ipsum excepturi!</p>
            </div>
            <div class="boxabout" data-aos="flip-up">
                <img class="icon" src="/img/linux.png" alt="economics Logo">
                <h3>Introduction to linux</h3>
                <p class="text-box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam molestiae inventore totam saepe accusamus quis? Modi aspernatur optio ipsum excepturi!</p>
            </div>
        </div>
    </section>

    <section class="section-service" id="Service">
        <h1 class="heading">What we Offer?</h1>
        <div class="contservice">
            <div class="boxleft boxservice"data-aos="fade-up">
                <img class="sericon" src="/img/faccicon.png" alt="">
                <div class="vl"></div>
                <div class="servicetext">
                    <h4>Best Faculty</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea rem pariatur nobis delectus maiores
                        ab expedita temporibus, quod rerum reprehenderit.</p>
                </div>
            </div>
            <div class="boxright boxservice"data-aos="fade-up">
                <img class="sericon" src="/img/certificate.png" alt="">
                <div class="vl"></div>
                <div class="servicetext">
                    <h4>Online Certificate</h4>
                    <p>We provide online Certificate for all users who complete their course.This certificate is useful
                        for any company,job Oppurtines.</p>
                </div>
            </div>
            <div class="boxleft boxservice"data-aos="fade-up">
                <img class="sericon" src="/img/sericon.png" alt="">
                <div class="vl"></div>
                <div class="servicetext">
                    <h4>24x7 Faculty Support</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea rem pariatur nobis delectus maiores
                        ab expedita temporibus, quod rerum reprehenderit.</p>
                </div>
            </div>
            <div class="boxright boxservice"data-aos="fade-up">
                <img class="sericon" src="/img/free_course.jpg" alt="">
                <div class="vl"></div>
                <div class="servicetext">
                    <h4>Free Courses</h4>
                    <p>We provided 100% Free courses for all users. So that each user can improve their skill with paid
                        money</p>
                </div>
            </div>
        </div>
    </section>

    <section class="Reviewsect" id="Review">
        <h1 class="heading">What Our Students Says?</h1>
        <div class="contservice">
            <div class="boxleft boxreview" data-aos="fade-up">
                <img class="image" src="/img/review1.jpg" alt="">
                <div class="servicetext">
                    <p class="reviewtext"><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Impedit accusamus
                        assumenda ipsum obcaecati suscipit placeat nam ullam! Voluptatem assumenda quas aliquam. Nihil,
                        saepe!<i class="fas fa-quote-right"></i></p>
                    <p class="name">-- Benjamin</p>
                </div>
            </div>
            <div class="boxright-new boxreview" data-aos="fade-up">
                <img class="image" src="/img/review4.jpg" alt="">
                <div class="servicetext">
                    <p class="reviewtext"><i class="fas fa-quote-left"></i> Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit. Ea rem pariatur nobis
                        delectus Lorem ipsum dolor sit. maiores ab expedita temporibus, quod rerum <i
                            class="fas fa-quote-right"></i></p>
                    <p class="name">-- Caroline Abbott</p>
                </div>
            </div>
            <div class="boxleft boxreview" data-aos="fade-up">
                <img class="image" src="/img/review3a.jpg" alt="">
                <div class="servicetext">
                    <p class="reviewtext"><i class="fas fa-quote-left"></i> Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit. Ea rem pariatur nobis
                        delectus maiores ab expedita temporibus, quod rerum reprehenderit best courses are here.
                        <i class="fas fa-quote-right"></i>
                    </p>
                    <p class="name">-- Saoirse Ronan</p>
                </div>
            </div>
            <div class="boxright-new boxreview" data-aos="fade-up">
                <img class="image" src="/img/review_image.jpg" alt="">
                <div class="servicetext">
                    <p class="reviewtext"><i class="fas fa-quote-left"></i> Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit. Ea rem pariatur nobis
                        delectus Lorem ipsum dolor sit. maiores ab expedita temporibus, quod rerum <i
                            class="fas fa-quote-right"></i></p>
                    <p class="name">-- Kevin peterson</p>
                </div>
            </div>
        </div>
    </section>

    <div class="footer">
        <p> &copy; 2021 tEducation.com || All Rights Reserved</p>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
        delay:200
    });
  </script>
</body>
</html>