<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Sign Up Form</h1>
        <p class="invalid"><%= text %></p>
        <form action="/register" method="post" class="form-format">
            <input class="form-type" type="text" name="username" placeholder="username" >
            <input class="form-type" type="email" name="email" placeholder="enter your email">
            <input class="form-type" type="text" name="contact" placeholder="contact number">
            <input class="form-type" type="password" name="password" placeholder="password">
            <button type="submit">Submit</button>
        </form>
        <div class="extra">
            <span>Already Registered?</span>
            <span><a href="/login">Login</a></span>
        </div>
    </div>
    <!-- <li><a href="/register">Sign Up!</a></li>
    <li><a href="/login">Login!</a></li>
    <li><a href="/logout">Logout!</a></li>-->
</body>
</html>

